node_modules
npm-debug.log

# Laravel specific
.env
.env.backup
.env.production
vendor
public/storage
public/hot
storage/*.key
storage/debugbar
/storage/logs
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache
